
body{
    overflow: hidden;
}

#frame_container{


    width:100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame{

    height:100vh;

}

#home{
    display: flex;
    justify-content: left;
    width: 5vw;

    position: fixed;
    z-index: 100;
}