.flex-container{
    display: flex;
    justify-content: center;
    height: 100vb;

    position: relative;
    top: 0;
    left: 0;
}

.muehle{
    position: relative;
    top: 0;
    left: 0;
    width: 50vb;
}

.mohn{
    position: absolute;
    bottom: 20%;
    left: 40%;
    width: 15vb;

    transition:  1s;
}

.mohn:hover{
    width: 20vb;
}
